@model List<Domain.Model.Car>

<style>
    h1,h2,h3,h4,p{
        color:white
    }
</style>
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-md-3">
                <img src="asd" @*@car.ImagePathes.First()*@ />
                <h2>@car.Model.Brend.BrendName @car.Model.ModelName</h2>
                <h3>Price: @car.CarPrice $</h3>
                <h4>Range: @car.RunRange</h4>
                <p>Fuel: @car.Base.Engine.Petrol.Type</p>
                <p>Emgine: @car.Base.Engine.Volume</p>
                <p>Gear Box: @car.Base.GearBoxType</p>
                <p>Driverian: @car.Base.DriverianType</p>
            </div>
        }
    </div>
